@page "/profil"
@if(CurrentUser != null)
{
    <h3>UserProfil</h3>
    <p>Email : @CurrentUser.Email</p>
    <p>Pseudo : @CurrentUser.Nickname</p>
    <p>Role : @(CurrentUser.IsAdmin ? "Administrateur" : "Utilisateur")</p>
}

@code {

}
